includes:
    - phpstan-baseline.neon

parameters:
    tmpDir: build/phpstan
    checkOctaneCompatibility: true

    level: 6

    paths:
        - src
        - config

    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        - identifier: larastan.noEnvCallsOutsideOfConfig
          path: config/*
        - '#Unsafe usage of new static#'
