includes:
    - phpstan-baseline.neon

parameters:
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    level: 6

    paths:
        - src
        - config

    ignoreErrors:
        - '#Unsafe usage of new static#'

